@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Philosopher&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}




:root {
    --ast-global-color-0: #e41e45;
    --ast-global-color-1: #f70077;
    --ast-global-color-2: #1a1a1a;
    --ast-global-color-3: #3e4359;
    --ast-global-color-4: #f7f7f7;
    --ast-global-color-5: #ffffff;
    --ast-global-color-6: #243673;
    --ast-global-color-7: #FBFCFF;
    --ast-global-color-8: #BFD1FF;
}

#sectionOne {
    /* background-color: rgb(234, 234, 234); */
    height: 124vh;
    position: relative;
    color: var(--ast-global-color-4);
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#sectionOne::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--ast-global-color-2);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: .7;
}

#sectionOne::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/backgroundimg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: .7;
}


/* Front Page */

.FrontPage {
    padding: 0 5%;
    /* height: 100vh; */
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
}

.insideFrontPage {
    /* margin-top: 7%; */
    /* border: 1px solid red; */
    max-width: 60%;
    max-height: 100%;
}

.FrontPage .address,
.FrontPage .Heading,
.FrontPage .para,
.FrontPage .button {
    margin-bottom: 2rem;
}

.FrontPage .address {
    color: var(--ast-global-color-0);
    font-size: 25px;
    font-size: 1.4705882352941rem;
    line-height: 1.2em;
    font-family: 'Philosopher', sans-serif;

}

.FrontPage .Heading {
    font-family: 'Philosopher', sans-serif;

    font-size: 55px;
    font-size: 3.2352941176471rem;
    font-weight: 400;
    font-family: 'Philosopher', sans-serif;


}

.FrontPage .para {
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
}

.FrontPage .button {
    margin-top: 5rem;

}

.FrontPage .button a {

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    padding-top: 17px;
    padding-right: 30px;
    padding-bottom: 17px;
    padding-left: 30px;
    text-decoration: none;
}

.FrontPage .button a:nth-child(1) {
    border: 1px solid var(--ast-global-color-0);
    margin-right: 2rem;
    background-color: var(--ast-global-color-0);
    color: var(--ast-global-color-4);
    border: 1px solid var(--ast-global-color-0);
    transition: .4s;
}

.FrontPage .button a:nth-child(1):hover {
    background-color: var(--ast-global-color-1);
    border: 1px solid var(--ast-global-color-1);
}

.FrontPage .button a:nth-child(2) {
    border: 1px solid var(--ast-global-color-0);
    color: var(--ast-global-color-0);
    background-color: var(--ast-global-color-4);
    transition: .4s;

}

.FrontPage .button a:nth-child(2):hover {
    border: 1px solid var(--ast-global-color-4);
    color: var(--ast-global-color-4);
    background-color: var(--ast-global-color-1);
}

/* transform 180 deg  */

.transform-main {
    /* background-color: red; */
    position: relative;
    z-index: 1;
    /* height: 200px; */


}

/* .transform-main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/background180.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: .7;

} */
.transform-main {
    overflow-x: hidden;
    /* transform: translateY(-150px); */
    /* border: 1px solid red; */
}



.transform {

    /* width: 200vw;
    position: relative;
    float: right; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;

}

.transform:before {
    content: '';
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: white;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;

}

.transform img {
    height: 0%;
    width: 135%;
    transform: rotate(180deg);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* second section  */

#SecondSection {
    /* border: 1px solid yellow; */
    padding: 0 5%;
    /* height: 100vh; */
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display: flex;

}

.fourImage {
    width: 52%;
    /* border: 1px solid green; */
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 1rem; */
    /* display: flex; */
    /* justify-content: ; */
    align-items: center;
}

.fourImage .img {
    padding-bottom: 8rem;
    padding-top: 4rem;
    position: relative;
    bottom: 5%;
    width: 100%;
    height: 100%;
    /* max-width: 200px; */
}

.fourImage .img:nth-child(2n+1) {
    margin-top: 5rem;
    margin-bottom: 5rem;
    position: relative;
    top: 5%;

}


.fourImage .img img {
    width: 120%;
    height: 100%;
    object-position: center;
    border-radius: 1rem;
    border: 10px solid white;
    overflow: hidden;



}

.textInfo {
    width: 40%;
    display: flex;
    align-items: center;
}

.InsidetextInfo {
    /* border: 2px solid orange; */
    margin-left: 4rem;
    margin-bottom: 2rem;
}


.InsidetextInfo .greet,
.InsidetextInfo .title,
.InsidetextInfo .para,
.InsidetextInfo .btn {
    margin-bottom: 1.8rem;
}


.InsidetextInfo .greet {
    color: var(--ast-global-color-0);
    font-family: 'Philosopher', sans-serif;
    color: var(--ast-global-color-0);
    font-size: 25px;
    font-size: 1.4705882352941rem;
    line-height: 1.2em;
    font-family: 'Philosopher', sans-serif;

}

.InsidetextInfo .title {
    font-size: 34px;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: 'Philosopher', sans-serif;
    /* 
    font-size: 55px;
    font-size: 3.2352941176471rem;
    font-weight: 400;
   */
}

.InsidetextInfo .para {
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
}

.InsidetextInfo .btn {
    padding-top: 2rem;
}



.InsidetextInfo .btn a {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    padding-top: 17px;
    padding-right: 60px;
    padding-bottom: 17px;
    padding-left: 60px;
    text-decoration: none;
    border: 1px solid var(--ast-global-color-0);
    margin-right: 2rem;
    background-color: var(--ast-global-color-1);
    color: var(--ast-global-color-4);
    border: 1px solid var(--ast-global-color-1);
    transition: .4s;
}

.InsidetextInfo .btn a:hover {
    background-color: var(--ast-global-color-0);
    border: 1px solid var(--ast-global-color-0);
}


/* section 3rd  */

#ThirdSection {
    background-color: #8484840a;
    padding: 3rem 5%;
}

.serviceText {
    text-align: center;
    /* border: 1px solid green; */
    padding: 2rem 0;
}

.serviceText h2 {
    font-size: 2.5rem;
    /* font-weight: 400; */
    font-family: 'Philosopher', sans-serif;
    color: var(--ast-global-color-0);
    margin-bottom: 10px;
}

.serviceText .para {}


.servicesBox {
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    /* text-align: center; */
}

.servicesBox .services {
    background-color: #ffffff;
    font-family: 'Philosopher', sans-serif;
    padding: 3rem 1rem 1rem 1rem;
    box-shadow: 0 0 8px 3px #eeeeee;
    border-radius: 1rem;

}

.servicesBox .heading {
    margin-bottom: 1rem;
    font-family: 'Philosopher', sans-serif;
    font-size: 25px;
    font-size: 1.4705882352941rem;
    line-height: 1.2em;
    font-family: 'Philosopher', sans-serif;
}

.servicesBox .aboutheading {
    font-family: 'Philosopher', sans-serif;
    line-height: 24px;
}


/* SectionFour  */
#SectionFour {}

/* background  */
.background {

    color: #fff;
    padding: 5rem 5% 11rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
    position: relative;
    z-index: 1;

}


.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/GlitterBG-free-img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
    opacity: .7;
}

.background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url("/img/discountBackGround.jpg"); */
    background-color: #f70077;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
    opacity: .65;

}


.background img {
    max-width: 7rem;
    max-height: 7rem;
}

.background img img {
    width: 100%;
    height: 100%;
}

.background .offer {
    margin: 15px 20px;
    /* padding: 2em; */
}

.background .offer h2 {
    font-size: 2.2rem;
    /* font-weight: 400; */
    font-family: 'Philosopher', sans-serif;
    margin-bottom: 15px;
}

.background .btn {}

.background .btn a {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    padding-top: 17px;
    padding-right: 30px;
    padding-bottom: 17px;
    padding-left: 30px;
    text-decoration: none;
    border: 1px solid var(--ast-global-color-4);
    color: var(--ast-global-color-4);
    background-color: transparent;
    transition: .4s;

}

.background .btn a:hover {
    border: 1px solid var(--ast-global-color-4);
    color: var(--ast-global-color-1);
    background-color: var(--ast-global-color-4);
}



/* transformBox  */
.transformBox {
    color: #fff;
    /* border: 1px solid green; */
    box-shadow: 1px 1px 15px 1px var(--ast-global-color-2);
    max-width: 1100px;
    border-radius: 10px;
    overflow: hidden;
    transform: translateY(-100px);
    margin: 0 auto;
    padding: 5rem 2rem;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    position: relative;
    z-index: 2;
}

.transformBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/discountimg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.transformBox::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url("/img/discountimg.jpg"); */
    background-color: var(--ast-global-color-2);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: .7;
}

.transformBox h2 {
    font-size: 2.5rem;
    font-weight: 400;
    font-family: 'Philosopher', sans-serif;
    margin-bottom: 15px;
}

.transformBox p {
    font-family: 'Philosopher', sans-serif;

}

/* MenuBox  */
.MenuBox {
    padding: 0 5%;
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.typeOfServices {
    background-color: #ffffff;
    box-shadow: 0 0 30px 1px #e6e6e6;
    padding: 1rem;
    border-radius: 1rem;

}

.typeOfServices .servicesName {
    font-size: 2.5rem;
    font-weight: 400;
    font-family: 'Philosopher', sans-serif;
    margin-bottom: 15px;
}

.typeOfServices>span {
    border: 1px solid var(--ast-global-color-1);
    display: block;
    width: 2rem;

}

/* .typeOfServices ul {} */

.typeOfServices ul li {
    list-style: none;
    margin-top: 1rem;
}

.typeOfServices ul li span {
    display: block;
}

/* Section Five  */

#SectionFive {
    padding: 0 5%;
    text-align: center;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.testomonial {
    font-size: 2.5rem;
    font-weight: 400;
    font-family: 'Philosopher', sans-serif;
}

.icons {
    margin-top: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icons li {


    list-style: none;
    margin: 0 .5rem;
    color: var(--ast-global-color-0);
}

.icons li i:hover {
    color: #fff;
    background-color: var(--ast-global-color-0);
}

.icons li i {
    border: 2px solid var(--ast-global-color-0);
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 1rem;
    color: var(--ast-global-color-0);
    transition: .4s;
}

#SectionFive .img img {
    border-radius: 50%;
    margin-top: 2.5rem;
}

.imgIcon i {
    font-size: 5rem;
    transform: translateY(-50px);
    color: var(--ast-global-color-0);

}

.text {
    max-width: 1000px;
    margin: 0 auto;
    /* margin-bottom: 3rem; */
}

.text p {}

.text small {
    display: block;
    margin: 1rem 0;
    color: var(--ast-global-color-0);
    font-family: 'Philosopher', sans-serif;
}


/* .commonSection  */
.commonSection {
    /* transform: translateY(-150px);  */
}

.Myfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5%;
    background-color: #1a1a1a;
    color: #fff;
}


@media only screen and (min-width:1024px) and (max-width: 1200px) {

    .items {
        display: none;
    }

    /* .menu {
        display: block;
    } */

    .background {
        flex-direction: column;
    }
}

@media only screen and (max-width:768px) {
    .items {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 4%;

        background-color: #3e4359;
    }

    .items a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}