@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Philosopher&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}




:root {
    --ast-global-color-0: #e41e45;
    --ast-global-color-1: #f70077;
    --ast-global-color-2: #1a1a1a;
    --ast-global-color-3: #3e4359;
    --ast-global-color-4: #f7f7f7;
    --ast-global-color-5: #ffffff;
    --ast-global-color-6: #243673;
    --ast-global-color-7: #FBFCFF;
    --ast-global-color-8: #BFD1FF;
}

#sectionOne {
    /* background-color: rgb(234, 234, 234); */
    /* height: 124vh; */
    position: relative;
    color: var(--ast-global-color-4);
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sectionOne::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--ast-global-color-2);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: .7;
}

#sectionOne::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/serviceBackGround.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: .7;
}

.Menu {
    display: none;
}

#sectionOne span {
    display: none;
}

.navbar {
    padding: 0 5%;

    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar .SmallDevice {
    display: none;
}

.navbar .logo {
    font-size: xx-large;
    text-shadow: .5px .5px 3px var(--ast-global-color-1);
    color: var(--ast-global-color-1);
    font-family: 'Philosopher', sans-serif;
    transition: .4s;
}

.navbar .logo:hover {
    /* background-color: rebeccapurple; */
    transform: scale(1.1);
}

.navbar .logo a {
    text-decoration: none;
    color: var(--ast-global-color-1);
}


.navbar .items {
    display: flex;
    justify-content: space-between;

}

.navbar .items ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .items .topNumber {
    /* margin-left: 1%; */
    padding: .5rem 1rem;
    text-decoration: none;
    border: 2px solid var(--ast-global-color-0);
    border-radius: 5px;
    font-size: large;
    padding: 1rem 2rem;
    color: var(--ast-global-color-5);
    transition: .3s;

    cursor: pointer;
}

.topNumber:hover {
    /* background: red; */
    background-color: var(--ast-global-color-0);
}



.navbar .items ul li {
    list-style: none;
    padding: 0 1rem;
    /* border: 1px solid green; */
}

.navbar .items ul li a {
    text-decoration: none;
    color: var(--ast-global-color-4);
    font-size: large;
    cursor: pointer;
}

/* about me  */

.about {
    text-align: center;
    padding: 5rem 5%;
    padding-bottom: 7rem;
}

.about h2 {
    font-size: 3rem;
    font-family: 'Philosopher', sans-serif;
}



/* transform 180 deg  */

.transform-main {
    /* background-color: red; */
    position: relative;
    z-index: 1;
    /* height: 200px; */


}

/* .transform-main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/background180.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: .7;

} */
.transform-main {
    overflow-x: hidden;
    /* transform: translateY(-150px); */
    /* border: 1px solid red; */
}



.transform {

    /* width: 200vw;
    position: relative;
    float: right; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;

}

.transform:before {
    content: '';
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: white;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;

}

.transform img {
    height: 0%;
    width: 135%;
    transform: rotate(180deg);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* \\FormMap */

.FormMap {
    margin: 2% 0 4% 0;
    padding: 0 5%;
    /* height: 100vh; */
    display: flex;
}

.FormMap .map {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
}

.FormMap .map>div {}

.FormMap .map iframe {
    max-width: 800px;
    max-height: 400px;
}

.FormMap .form {
    width: 35%;

    border-radius: 10px;
    padding: 3%;

    position: relative;
    z-index: 2;
    box-shadow: 0px 0px 18px 2px rgb(211, 211, 211);
}

.FormMap .form .heading {
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Philosopher', sans-serif;
    color: var(--ast-global-color-0);
    margin-bottom: 10px;
}

.FormMap .form .para {
    color: var(--ast-global-color-3);
}

.FormMap .form form {}

.FormMap .form form .inp {
    margin: 1rem 0;
    width: 100%;
}

.FormMap .form form .inp input {
    /* padding: 1rem 2rem; */
    width: 100%;
    padding: 9px 7px;
    border: none;
    box-shadow: 0px 0px 2px;
    outline: none;
    border-radius: 2px;


}

.FormMap .form form .inp select {
    width: 100%;
    padding: 9px 7px;
    border: none;
    box-shadow: 0px 0px 2px;
    outline: none;
    border-radius: 2px;
}

.FormMap .form form .inp select option {
    padding: 9px 7px;

}

.FormMap .form form .inp textarea {
    width: 100%;
    padding: 9px 7px;
    border: none;
    box-shadow: 0px 0px 2px;
    border-radius: 2px;
    outline: none;
}

.FormMap .form form .btn button {
    border-style: solid;
    border-top-width: 2px;
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    color: var(--ast-global-color-5);
    border-color: var(--ast-global-color-0);
    background-color: var(--ast-global-color-0);
    padding-top: 17px;
    padding-right: 30px;
    padding-bottom: 17px;
    padding-left: 30px;
    font-family: inherit;
    font-weight: normal;
    font-size: 17px;
    font-size: 1rem;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.FormMap .form form .btn button:hover {
    background-color: var(--ast-global-color-1);

}

/* footer  */
.Myfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5%;
    background-color: #1a1a1a;
    color: #fff;
}

/* media quries  */

@media only screen and (max-width:1024px) {
    .FormMap {
        display: fe;
        flex-direction: column;
        gap: 2rem;
    }

    .FormMap .map {
        width: 100%;
        margin-bottom: 2rem;
    }

    .FormMap .map iframe {
        width: 100%;
    }
    .FormMap .form {
        width: 100%;
    }
}